.colorBox {
  width: 100%;
  height: 100vh;
  background-color: var(--page-background-color);
}

.box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .box {
    /* max-width: var(--mobile); */
    /* height: 568px; */
    background-color: var(--color-white);
  }
}

@media screen and (min-width: 768px) {
  .box {
    /* max-width: var(--tablet); */
    /* height: 1024px; */
    background-color: var(--page-background-color);

    background-image: url('../../images/background-images/EllipseOneTablet.png'),
      url('../../images/background-images/EllipseTwoTablet.png');
    background-position: 400px 0, 0 700px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .box {
    /* max-width: var(--desktop); */
    /* height: 720px; */

    background-image: url('../../images/background-images/EllipseOneDesktop.png'),
      url('../../images/background-images/EllipseTwoTablet.png');
    background-position: 727px 0, 0 397px;
  }
}
