.box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .box {
    /* background-color: var(--color-white); */
    background-color: var(--page-background-color);
  }
}

@media screen and (min-width: 768px) {
  .box {
    /* background-color: var(--page-background-color); */
    background-image: url('../../images/background-images/EllipseBlue.png');
    background-position: -140px 700px;

    background-repeat: no-repeat;

    height: 100vh;
  }
}

@media screen and (min-width: 1280px) {
  .box {
    background-image: url('../../images/background-images/EllipseBlue.png');
    background-position: -140px 388px;
  }

  .box::before {
    display: block;
    content: '';

    position: absolute;

    top: 0;
    right: 0;

    width: 53.3%;

    height: 100vh;

    z-index: 1;
    background-color: var(--background-color);
    backdrop-filter: blur(50px);
  }
}

@media screen and (min-width: 768px) {
  .box::after {
    display: block;
    content: '';

    position: absolute;

    top: 0;
    right: 0;

    width: 647px;
    height: 508px;

    background-image: url('../../images/background-images/EllipsePink.png');
    background-position: 270px -112px;
    background-repeat: no-repeat;

    z-index: 0;
  }

  @media screen and (min-width: 1280px) {
    .box::after {
      background-position: 170px -118px;
    }
  }
}

.isLoggin.box::before {
  display: block;
  content: '';

  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100vh;

  z-index: 1;
  background-color: var(--background-color);
  backdrop-filter: blur(50px);
}
