/* .rightSideBox {
  padding: 40px 0;
} */

/* .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .transparentBackground {
  background: var(--background-color);
  backdrop-filter: var(--backdrop-filter);
} */

/* .balance {
  margin-bottom: var(--margin-l);
} */

/* @media screen and (max-width: 767px) {
  .transparentBackground {
    background: var(--background-color);
  }
  div.dashboardPage {
    height: 100%;
    background: var(--page-background-color);
  }
} */

@media screen and (min-width: 768px) {
  /* .container {
    height: 100%;
  } */

  /* .transparentBackground {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--background-color);
    backdrop-filter: var(--backdrop-filter);
  } */

  /* .leftSideBox {
    display: flex;
    margin-bottom: var(--margin-xl);
  } */

  /* .navEndBalance {
    margin-top: 10px;
  } */

  /* .navigation {
    justify-content: start;
    align-items: flex-start;
    margin-bottom: var(--margin-m);
  } */

  /* .balance {
    margin-bottom: 0;
  } */

  /* .currencyPosition {
    margin-left: 20px;
    width: 334px;
  } */
}

@media screen and (min-width: 1280px) {
  /* div.dashboardPage {
    height: 897px;

    background-image: url('../../images/background-images/EllipseOneDesktop.png'),
      url('../../images/background-images/EllipseTwoDesktopDashboardPage.png');

    background-position: 727px 0, -53px 430px;
  } */

  /* .container {
    display: flex;
    position: relative;
  } */

  /* .transparentBackground {
    padding: 0;
  } */

  /* .leftSideBox {
    flex-direction: column;
    padding-right: var(--margin-l);
    padding-top: 40px;
  } */

  /* .rightSideBox {
    padding: 30px;
  } */

  /* .navEndBalance {
    margin-top: 0;
  } */

  /* .border {
    position: absolute;
    width: 0px;
    height: 100%;
    left: 465px;
    top: 0;
    border: 1px solid var(--third-grey-color);
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      1px 0px 0px rgba(255, 255, 255, 0.6);
  } */

  /* .navigation {
    margin-bottom: var(--margin-l);
  }

  .balance {
    margin-bottom: var(--margin-l);
    margin-right: 0;
  }

  .currencyPosition {
    margin-left: 0;
  } */
}
