.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    height: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    height: 720px;
  }
}
