.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--margin-m);
  padding-right: var(--margin-m);
}
@media screen and (min-width: 320px) {
  .container {
    max-width: var(--mobile);
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: var(--tablet);
    width: 100%;
    padding-left: var(--margin-xl);
    padding-right: var(--margin-xl);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: var(--desktop);
    width: 100%;
    padding-left: 85px;
    padding-right: 85px;
  }
}
