.logoIcon {
  /* position: absolute;
  top: 40px; */
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 130px;
  padding-bottom: 60px; */
  padding-top: 40px;
  padding-bottom: 60px;

  width: 540px;
  /* height: 616px; */
  border-radius: 20px;

  background-color: var(--color-white);
}

@media screen and (max-width: 767px) {
  .form {
    /* width: 320px; */
    width: 280px;
    height: 568px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
.wrapper {
  position: relative;
  margin-bottom: 40px;
}

.wrapper:last-child {
  margin-bottom: 50px;
}

.input {
  width: 409px;
  padding-left: 54.5px;
  padding-bottom: 10px;
  height: 34px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--color-light-grey);
}

@media screen and (max-width: 767px) {
  .input {
    width: 280px;
  }
}

.input::placeholder {
  color: var(--color-grey);
  font-family: var(--main-font-family);
  font-style: var(--font-style-norm);
  font-weight: var(--font-weigth-norm);
  font-size: var(--font-size-m);
  line-height: var(--line-heigth-m);
}

.icon {
  position: absolute;
  left: 5px;
  z-index: 1;
  color: var(--color-light-grey);
}

.iconEmail {
  width: 20px;
  height: 16px;
}

.iconLock {
  width: 16px;
  height: 21px;
}

.iconUser {
  width: 18px;
  height: 18px;
}

.errorMessage {
  position: absolute;
  right: 0;
  bottom: -20px;
  margin: 0;
  padding: 0;
  color: var(--color-green);
  font-size: var(--font-size-s);
}

.errorPass {
  position: absolute;
  right: 0;
  bottom: 9px;
}

@media screen and (max-width: 768px) {
  .errorMessage {
    right: 0;
    bottom: -15px;
    font-size: var(--font-size-xs);
  }
  .errorPass {
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}

.progressNone {
  background-color: var(--secondary-grey-color);
}

.progressDone {
  background-color: var(--color-green);
}
