.table {
  overflow-y: scroll;
  height: 60vh;
}

.btnAdd {
  position: absolute;

  z-index: 4;
  bottom: 30px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .table {
    /* overflow: hidden; */
    height: auto;
    /* min-height: 350px; */
    /* overflow: auto; */
  }
  .btnAdd {
    bottom: 40px;

    right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .table {
    overflow-y: hidden;
    /* width: 100%; */

    min-height: 350px;
    /* overflow: auto; */
  }
  .btnAdd {
    right: 85px;
  }
}
