.backdrop {
  backdrop-filter: var(--backdrop-filter);
  height: 100%;
}
.hometabBackground {
  /* background-color: red; */
  background-color: var(--background-color);
  backdrop-filter: var(--backdrop-filter);
  height: 100vh;
  /* position: relative; */
}

/* .rigthSideBox {
  position: relative;
} */

.hometab {
  position: relative;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-s);
}

.balance {
  margin-bottom: var(--margin-l);
}

.table {
  width: 280px;
  height: 60vh;
  /* background-color: blueviolet; */
}

.btnAdd {
  position: absolute;
  z-index: 4;
  bottom: 30px;
  /* right: 20px; */
  right: 0;
}

@media screen and (min-width: 768px) {
  /* .backdrop {
    background-color: transparent;
  } */
  .hometab {
    height: 944px;
  }
  .hometabBackground {
    background-color: transparent;
    backdrop-filter: var(--backdrop-filter);
    height: 944px;
  }
  .navigation {
    justify-content: start;
    /* justify-content: center; */
    /* align-items: flex-start; */
    align-items: center;
    margin-bottom: var(--margin-m);
  }
  .balance {
    margin-bottom: 0;
    margin-right: var(--margin-m);
  }
  .leftSideBox {
    display: flex;
    margin-bottom: var(--margin-xl);
    /* align-items: center; */
  }

  .table {
    width: 688px;
    /* height: 100vh; */
    height: 100%;
    /* height: inherit; */
  }
  .btnAdd {
    bottom: 40px;
    /* right: 40px; */
    right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hometabBackground {
    height: 720px;
  }
  .hometab {
    display: flex;
    height: 640px;
  }
  .navigation {
    margin-bottom: var(--margin-l);
  }
  .leftSideBox {
    flex-direction: column;
    padding-right: var(--margin-l);
    border-right: 1px solid var(--third-grey-color);
    /* border-right: 1px solid red; */
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      1px 0px 0px rgba(255, 255, 255, 0.6);
  }
  .balance {
    margin-bottom: var(--margin-l);
    margin-right: 0;
  }

  .table {
    width: 700px;
    height: inherit;
    margin-left: var(--margin-l);
  }
  .btnAdd {
    /* right: 85px; */
    right: 0;
  }
}
