.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--modal-background-color);
  overflow-y: auto;
  z-index: 5;
}

@media screen and (min-height: 690px) {
  .Overlay {
    align-items: center;
  }
}

.Modal {
  max-width: calc(100vw);
  max-height: calc(100vh);
}