.subBox {
  position: absolute;
  left: 560px;
  top: 0px;
  width: 720px;
  background-color: var(--background-color);
  backdrop-filter: blur(50px);
}

@media screen and (min-width: 320px) {
  .title {
    position: absolute;
    z-index: -3;
  }

  .registrationForm {
    margin-left: auto;
    margin-right: auto;
    width: var(--mobile);
    background-color: var(--color-white);
  }
}

@media screen and (min-width: 768px) {
  .registrBox {
    min-height: 1024px;


    /* background-image: url('../../pictures/PictureTablet.png'); */

    background-image: url('../../images/background-images/PictureTablet.png');

    background-position: 114px 60px;
    background-repeat: no-repeat;
  }

  .subBox {
    height: 0;
  }

  .title {
    z-index: 3;
    left: 428px;
    top: 163px;
    font-family: var(--secondary-font-family);
    font-style: var(--font-style-norm);
    font-weight: var(--font-weigth-norm);
    font-size: var(--font-size-xl);
    line-height: var(--line-heigth-m);
    align-items: center;
    text-align: center;
    margin: 0;
    color: var(--color-black);
  }

  .registrationForm {
    position: absolute;
    left: 114px;
    top: 360px;
  }
}

@media screen and (min-width: 1280px) {
  .registrBox {
    min-height: 720px;

    background-image: url('../../images/background-images/PictureDesktop.png');
    background-position: 66px 153px;
  }

  .subBox {
    height: 100%;
  }

  .title {
    left: 200px;
    top: 598px;
  }

  .registrationForm {
    left: 655px;
    top: 52px;
    width: 540px;
    z-index: 2;
  }
}
