.registrBox {
  position: relative;
  min-height: 100vh;

  /* max-width: var(--desktop); */
  background-color: var(--page-background-color);
}

.registrSubBox {
  position: absolute;
  left: 560px;
  top: 0px;
  min-height: 100vh;
  width: 720px;

  background-color: var(--background-color);
  backdrop-filter: blur(50px);
}
