@font-face {
	font-family: 'Circe Light';
	src: url('../fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/circe_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/circe_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/circe_light.svg#circe_light') format('svg'); /* Chrome < 4, Legacy iOS */
}