.section {
  padding-top: var(--margin-s);
  padding-bottom: var(--margin-s);
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: var(--margin-m);
    padding-bottom: var(--margin-m);
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: var(--margin-xl);
    padding-bottom: var(--margin-xl);
  }
}
