// .wrapper {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   width: 400px;
//   margin: 50vh auto 0;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

.switch_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  //   max-width: 200px;
  //   min-width: 200px;
  max-width: 80px;
  min-width: 80px;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Switch 1 Specific Styles Start */

.box_1 {
  //   background: #eee;
  background: none;
}

/*false*/
input[type='checkbox'].switch_1 {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  //   width: 3.5em;
  width: 80px;
  //   height: 1.5em;
  height: 40px;
  background: #fff;
  //   border-radius: 3em;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*true*/
input[type='checkbox'].switch_1:checked {
  //   background: #0ebeff;
  background: #fff;
}

input[type='checkbox'].switch_1:after {
  position: absolute;

  content: '';
  //   width: 1.5em;
  //   height: 1.5em;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  //   background: #fff;
  background-color: #24cca7;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  //   box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);

  -webkit-transform: scale(1);
  transform: scale(1);
  left: -2px;
  top: -2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox'].switch_1:checked:after {
  left: calc(100% - 44px);
  background-color: #ff6596;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
}

// input[type='checkbox'].switch_1:before {
//   display: block;
//   content: '';
//   width: 20px;
//   height: 2px;
//   background-color: #fff;
//   position: absolute;
//   top: 20px;
//   left: 10px;
//   //   transform: translateX(-50px);
//   z-index: 1;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }

.cross {
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 20px;
  height: 2px;

  z-index: 3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox'].switch_1:not(:checked) ~ .cross:after {
  display: block;
  content: '';

  width: 20px;
  height: 2px;
  background-color: #fff;

  transform: rotate(90deg);
  z-index: 4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox'].switch_1:checked ~ .cross {
  left: calc(100% - 32px);
  background-color: #fff;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
}

// .cross::before {
//   display: block;
//   content: '';
//   width: 2px;
//   height: 20px;
//   background-color: black;
//   position: absolute;
//   top: 0;
//   left: 0;
//   //   transform: translateX(-50px);
//   z-index: 25;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }

input[type='checkbox'].switch_1:checked:before {
  left: calc(100% - 30px);
  background-color: #fff;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
}

/* Switch 1 Specific Style End */

/* Switch 2 Specific Style Start */
