.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-background-color);
  z-index: 5;
}

.Modal {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

  width: 320px;
  min-height: 690px;

  padding: 20px 10px 60px 10px;

  background-color: var(--color-white);
}

.Modal__title {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: var(--font-weigth-norm);
  font-size: var(--font-size-l);
  line-height: var(--line-heigth-m);
  text-align: center;

  margin: 0;
  margin-bottom: 40px;
}

.Modal__form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.Modal__type {
  position: relative;

  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.Model__label {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: var(--font-weigth-norm);
  font-size: var(--font-size-s);
  line-height: var(--line-heigth-m);
  color: var(--color-light-grey);
}

.Modal__income {
  color: var(--color-green);
}

.Modal__expenses {
  color: var(--color-pink);
}

.Modal__input {
  font-family: var(--main-font-family);
  font-style: var(--font-style-norm);

  font-size: var(--font-size-m);
  line-height: var(--line-heigth-m);

  width: 280px;

  margin-bottom: 40px;
  padding: 10px 20px;

  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-light-grey);
}

.Modal__input__relative {
  position: relative;
}

.Modal__amount {
  font-weight: var(--font-weigth-bold);
}

.Modal__date {
  border: none;
  outline: none;
}

.Modal__iconDate {
  position: absolute;

  right: 20px;
  z-index: 1;
}

.Modal__input__hight {
  resize: none;
}

.Modal__button {
  margin-bottom: 20px;
}
