.balanceBox {
  height: 80px;
  padding-top: 8px;
  padding-bottom: 13px;
  padding-left: 40px;
  border-radius: var(--border-radius-large);
  background-color: var(--color-white);
  border: 2px solid red;
}

@media screen and (min-width: 320px) {
  .balanceBox {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .balanceBox {
    width: 334px;
  }
}

@media screen and (min-width: 1280px) {
  .balanceBox {
    width: 350px;
  }
}

.balanceText {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: var(--main-font-family-normal-w);
  font-style: var(--font-style-norm);
  font-size: var(--font-size-xs);
  line-height: var(--line-heigth-m);
  color: var(--secondary-grey-color);
}

.balanceNum {
  display: flex;
  align-items: center;
  width: 175px;
  height: 36px;
  margin: 0;
  font-family: var(--secondary-font-family-bold-w);
  font-style: var(--font-style-norm);
  font-size: var(--font-size-xl);
  line-height: var(--line-heigth-m);
  color: var(--color-black);
}

.sign {
  font-family: var(--secondary-font-family-normal-w);
  margin-right: 5px;
}
